/dist/
/dist-newstyle/
/TAGS
/doc/web/index.html
/doc/web/releases.html
/cabal-dev/
.cabal-sandbox
cabal.sandbox.config
.stack-work
/doc/web/readme.md
/.idea/
/xmobar.iml
/out/
/cabal.config
codex.tags
cabal.project.localtags
*.swp
tags
/cabal.project.local
/.ghc.environment.*
/cabal.project.local~
stack.yaml.lock
